#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid red;
}

.card {
  padding: 2em;
  display:flex;
  justify-content:space-between;
  align-items:center;

}

