body {
  margin: 0;
  background: linear-gradient(to right, #43cea2, #185a9d);
  font-family: Arial;
}

.todo-container {
  background: white;
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
  color: #185a9d;
}

.input-area {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 15px;
  background: #185a9d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}